<?php get_header(); ?>
<main id="content" role="main">
    <div class="page-wrapper top-gradient">



        <nav class="section-navigation container">
            <ul class="hidden-xs">

                <li><a class="section-navigation__link" href="//www.truvia.com/health">Healthcare Professionals</a></li>
                <li><a class="section-navigation__link current" href="//www.truvia.com/health/blog">Blog</a></li>
                <li><a class="section-navigation__link" href="//www.truvia.com/health/research">Research</a></li>
                <li><a class="section-navigation__link" href="//www.truvia.com/health/eclub">HCP eClub</a></li>
                <li><a class="section-navigation__link" href="//www.truvia.com/health/hcp-sample">Free Sample</a></li>
            </ul>
            <select class="visible-xs form-control" onchange="window.location = this.value;">
                                                                                                                                                                                                                                                                                                                                                                        <option value="//www.truvia.com/health">Healthcare Professionals</option>
                                                                                                                                                                                                                                                                                                                                                                                        <option selected="" value="//www.truvia.com/health/blog">Blog</option>
                                                                                                                                                                                                                <option value="//www.truvia.com/health/research">Research</option>
                                                                                                                                                                                                                <option value="//www.truvia.com/health/eclub">HCP eClub</option>
                                                                                                                                                                                                                <option value="//www.truvia.com/health/hcp-sample">Free Sample</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                </select>
        </nav>

        <div class="container">
            <div class="row">
                <!-- Top full-width section -->
                <div class="col-sm-12">

                    <div class="container">
                        <div class="blog-banner">
                            <span class="sr-only">Sweetness in Practice</span>


                            <a href="/health/blog" title="HCP Blog Landing SIP 950 131">
                                <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog/US/HCP_Blog_Landing_SIP_950_131.png?mtime=20151203114745" alt="HCP Blog Landing SIP 950 131"
                                    class="img-responsive" data-pin-description="The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <!-- Main column -->
                <div class="col-sm-8">
                    <h1 class="h2 article-detail-title">The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations</h1>

                    <div class="article-detail-date-author">
                        <strong>Julie Upton</strong> - May 4, 2016
                    </div>

                    <div class="vs-xs-bottom-3">
                        <!-- Load Facebook SDK for JavaScript -->
                        <div id="fb-root" class=" fb_reset">
                            <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                                <div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true"
                                        scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame"
                                        tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/bz-D0tzmBsw.js?version=42#channel=f2995a59e30430c&amp;origin=https%3A%2F%2Fwww.truvia.com"
                                        style="border: none;"></iframe></div>
                            </div>
                            <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                                <div></div>
                            </div>
                        </div>
                        <script>
                            (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
                        </script>

                        <div class="fb-like fb_iframe_widget" data-href="https://www.truvia.com/health/blog/the-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations"
                            data-width="110" data-layout="button" data-action="like" data-show-faces="false" fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=610&amp;href=https%3A%2F%2Fwww.truvia.com%2Fhealth%2Fblog%2Fthe-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=110"><span style="vertical-align: bottom; width: 51px; height: 20px;"><iframe name="f1a154267b551c8" width="110px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Dfbee20fdf5731%26domain%3Dwww.truvia.com%26origin%3Dhttps%253A%252F%252Fwww.truvia.com%252Ff2995a59e30430c%26relation%3Dparent.parent&amp;container_width=610&amp;href=https%3A%2F%2Fwww.truvia.com%2Fhealth%2Fblog%2Fthe-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;width=110" style="border: none; visibility: visible; width: 51px; height: 20px;" class=""></iframe></span></div>


                        <script>
                            window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "//platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));
                        </script>

                        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
                            title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.b41e99df00581dc95d7fdd63f3283511.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fwww.truvia.com%2Fhealth%2Fblog%2Fthe-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations&amp;size=m&amp;text=The%20New%20Dietary%20Guidelines%20and%20Added%20Sugars%3A%20How%20to%20Help%20Patients%20Meet%20the%20Updated%20Recommendations%20&amp;time=1468959048247&amp;type=share&amp;url=https%3A%2F%2Fwww.truvia.com%2Fhealth%2Fblog%2Fthe-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations"
                            style="position: static; visibility: visible; width: 60px; height: 20px;"></iframe>



                        <span class="PIN_1468959048383_button_pin" data-pin-log="button_pinit_bookmarklet" data-pin-href="https://www.pinterest.com/pin/create/button/"></span>

                        <a class="social-share--email" href="mailto:?subject=The%20New%20Dietary%20Guidelines%20and%20Added%20Sugars%3A%20How%20to%20Help%20Patients%20Meet%20the%20Updated%20Recommendations%20&amp;body=[body]"
                            onclick="this.href = this.href.replace('[body]',window.location)" title="Email">
                            <span class="sr-only">Email</span>
                        </a>

                        <a class="social-share--print hidden-xs" href="javascript:window.print()" title="Print">
                            <span class="sr-only">Print</span>
                        </a>
                    </div>

                    <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Articles/US/julie_may_full.jpg?mtime=20160509101038" alt="julie may full"
                        class="img-responsive" data-pin-description="The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations">

                    <div>
                        <p>The new 2015-2020 Dietary Guidelines for Americans recommend limiting added sugars to less than 10
                            percent of total daily calories.<sup>1</sup> While advice to reduce sugar intake is not new,
                            this is the first time that the Dietary Guidelines have recommended a specific limit on the amount
                            of added sugars individuals should consume daily. The new recommendations are consistent with
                            World Health Organization guidelines on “free” sugars finalized in 2015.<sup>3</sup></p>
                        <p>Eating too much sugar has been associated with an increased risk of obesity, cardiovascular disease
                            in adults (1, 4), type 2 diabetes, and certain cancers in adults.<sup>1</sup> About 70 percent
                            of Americans exceed the new recommendation. While average U.S. consumption of added sugars has
                            declined in recent years, adults consume on average almost 270 calories, or about 13 percent
                            of their total calories from added sugars. Younger children and teens are consuming even more
                            than adults, getting approximately 15 to 17 percent of their total calories from added sugars.<sup>1</sup></p>
                        <p>Reducing added sugars can be challenging because they are present in so many foods and beverages.
                            In fact, a supermarket survey of more than 85,000 packaged foods and beverages found that added
                            sugars are present in some 75 percent of packaged products.<sup>5</sup> The major sources of
                            dietary sugars come from sugar-sweetened beverages, snacks and sweet treats. Together, they account
                            for more than 75 percent of the added sugars in the typical American diet.<sup>1</sup></p>
                        <p>Here are four ways to help your patients limit added sugars:
                        </p>
                        <p><strong>1.   Promote Awareness of Sugars Consumption<br></strong>
                        </p>
                        <p>Encourage patients to set personal goals for improving nutrition and introduce tools that can help.
                            Provide patients with their personal daily added sugar target or direct them to a personalized
                            energy calculator like this one from the Dietary Guidelines. Meeting a daily target will also
                            help provide patients with a sense of accountability. Using a patient’s daily energy intake,
                            explain how they can determine their personal target for added sugars. For example, explain that
                            once daily calories are determined, simply take 10 percent of that value to get the recommended
                            total calories from added sugars. To convert calories to grams of sugar, divide the calories
                            by four. So, for a patient following a 2,000 calorie per day diet, this means aiming to keep
                            added sugars to about 200 calories a day, or 50 grams. <span class="redactor-invisible-space"><br></span>
                        </p>
                        <p><strong>2. Recommend water and other beverages that contain little or no added sweeteners </strong>
                        </p>
                        <p>Since soda and other sweetened beverages account for nearly half of the added sugars in the American
                            diet<sup>1</sup>, limiting or avoiding sugary beverages can be one of the most effective ways
                            to achieve the new limits set for added sugars. As an alternative to sweetened beverages, recommend
                            non-carbonated or sparkling water instead, and suggest jazzing it up with a citrus slice. Another
                            great option is to recommend Truvía<sup>®</sup> Natural Sweetener, or another calorie-free sugar
                            substitute, in place of sugar in their daily coffee, tea or other sweetened beverages. In fact,
                            the Dietary Guidelines state that the use of calorie-free sugar substitutes may help individuals
                            maintain a healthy weight, and can also help to reduce the risks associated with excess intake
                            of caloric sweeteners.<sup>1,5</sup><span class="redactor-invisible-space"><br></span>
                        </p>
                        <p><strong>3.   Teach Patients How to Read Nutrition Labels<span class="redactor-invisible-space"><br></span></strong>
                        </p>
                        <p><span class="redactor-invisible-space"><span class="redactor-invisible-space">To help patients determine how much sugar a packaged food or beverage contains, encourage them to read nutrition labels. Many food companies are now putting information about calories and sugars on the front of food packages. While current nutrition labels don’t distinguish between sugars that are naturally occurring or added to foods, all sugars contribute calories to the diet.  Provide individuals with common names that food manufacturers use for added sweeteners. The following list contains 47 different added sugars commonly used in packaged foods and beverages. <span class="redactor-invisible-space"><br></span></span>
                            </span>
                        </p>
                        <p style="text-align:center;"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Articles/US/upton-sugar-infographic-2.jpg?mtime=20160503110151" alt="upton-sugar-infographic-2.jpg?mtime=2016"><br></span></span>
                            </span><em>Adapted from <a href="http://appforhealth.com/">AppforHealth.com</a>
    </em>
                        </p>
                        <p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><strong>4. Encourage Fruit in Place of Sweets<span class="redactor-invisible-space"></span></strong>
                            </span>
                            </span>
                            </span>
                        </p>
                        <p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space">
    One of the best ways to encourage
consumers to meet the new Dietary Guidelines is to instruct individuals to eat more
fruits (fresh or frozen) in place of treats like baked goods, ice cream, candy
and other sweets. Fruits also contain fiber, which means eating fruit may help
support overall satiety during the day. Since most Americans, over the age nine,
fail to meet their recommended daily servings for fruits
    <sup>1</sup> this simple swap
can help meet two specific 
    <i>Dietary
Guideline
    </i> recommendations.  
    <br></span></span>
                            </span>
                            </span>
                            </span>
                        </p>
                    </div>

                    <hr>
                    <h2>References: </h2>
                    <ol class="credit">
                        <li>
                            <p>U.S. Department of Health and Human Services and U.S. Department of Agriculture. 2015 – 2020
                                Dietary Guidelines for Americans. 8th Edition. December 2015. Available at <a href="http://health.gov/dietaryguidelines/2015/guidelines/">http://health.gov/dietaryguidelines/2015/guideline...</a>
                            </p>
                        </li>
                        <li>
                            <p>2015 Dietary Guidelines Advisory Committee (DGAC). Scientific Report of the 2015 Dietary Guidelines
                                Advisory Committee; Advisory Report to the Secretary of Health and Human Services and the
                                Secretary of Agriculture. First Print February 2015. Accessed on 19 Apr 2016. Retrieved from
                                <a href="http://health.gov/dietaryguidelines/2015-scientific-report/11-chapter-6/d6-3.asp">http://health.gov/dietaryguidelines/2015-scientifi...</a>
                            </p>
                        </li>
                        <li>
                            <p>World Health Organization Guideline: Sugars intake for adults and Children. 2015. Available at
                                <a href="http://apps.who.int/iris/bitstream/10665/149782/1/9789241549028_eng.pdf">http://apps.who.int/iris/bitstream/10665/149782/1/...</a>
                            </p>
                        </li>
                        <li>
                            <p>Yang Q, Zhang Z, Gregg EW, Flanders WD, Merritt R, Hu FB. Added sugar intake and cardiovascular
                                diseases mortality among US adults. JAMA Intern Med. 2014;174(4):516-24.
                            </p>
                        </li>
                        <li>
                            <p>Ng SW1, Slining MM, Popkin BM. Use of caloric and noncaloric sweeteners in US consumer packaged
                                foods, 2005-2009. J Acad Nutr Diet. 2012 Nov;112(11):1828-34.e1-6.
                            </p>
                        </li>
                    </ol>
                </div>

                <!-- Sidebar -->
                <div class="col-sm-4">
                    <section class="well">
                        <h3 class="sidebar__title">Join our eClub for Healthcare Professionals</h3>

                        <form class="form-inline eclub-short-form" action="https://www.pages03.net/truvia/blog/BlogSignup" method="post">
                            <div class="form-group">
                                <input name="formSourceName" type="hidden" value="StandardForm">
                                <input name="sp_exp" type="hidden" value="yes">
                                <label class="sr-only" for="control_EMAIL">Email</label>
                                <input type="email" placeholder="email" id="control_EMAIL" name="Email" class="form-control">
                                <button type="submit" value="Sign Up" class="btn btn-default">Sign Up</button>
                            </div>
                        </form>
                    </section>

                    <section class="well">
                        <h3 class="sidebar__title">Featured Posts</h3>
                        <ul class="featured-entries">
                            <li>
                                <a href="//www.truvia.com/health/blog/the-new-dietary-guidelines-and-added-sugars-how-to-help-patients-meet-the-updated-recommendations"
                                    title="The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations"
                                    class="center-block">
                                    <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Articles/US/julie_may_thumb.jpg?mtime=20160509101038" alt="The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations"
                                        class="featured-entry__thumbnail" data-pin-description="The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations">
                                    <h4 class="featured-entry__title">The New Dietary Guidelines and Added Sugars: How to Help Patients Meet the Updated Recommendations</h4>
                                    <span class="featured-entry__read">Read Post »</span>
                                </a>
                            </li>
                            <li>
                                <a href="//www.truvia.com/health/blog/how-our-partnership-in-bolivia-is-fighting-childhood-hunger-and-transforming-communities"
                                    title="How Our WFP Partnership In Bolivia Is Fighting Childhood Hunger And Transforming Communities"
                                    class="center-block">
                                    <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Articles/US/SASF_thumb.png?mtime=20160412140207" alt="How Our WFP Partnership In Bolivia Is Fighting Childhood Hunger And Transforming Communities"
                                        class="featured-entry__thumbnail" data-pin-description="How Our WFP Partnership In Bolivia Is Fighting Childhood Hunger And Transforming Communities">
                                    <h4 class="featured-entry__title">How Our WFP Partnership In Bolivia Is Fighting Childhood Hunger And Transforming Communities</h4>
                                    <span class="featured-entry__read">Read Post »</span>
                                </a>
                            </li>
                            <li>
                                <a href="//www.truvia.com/health/blog/effects-of-sugar-and-sugar-substitutes-in-dental-caries" title="The Effects of Sugar and Sugar Substitutes on Dental Caries"
                                    class="center-block">
                                    <img src="//d2sf2a832xqb4v.cloudfront.net/dental-health_thumb.jpg?mtime=20160330143202" alt="The Effects of Sugar and Sugar Substitutes on Dental Caries"
                                        class="featured-entry__thumbnail" data-pin-description="The Effects of Sugar and Sugar Substitutes on Dental Caries">
                                    <h4 class="featured-entry__title">The Effects of Sugar and Sugar Substitutes on Dental Caries</h4>
                                    <span class="featured-entry__read">Read Post »</span>
                                </a>
                            </li>
                        </ul>
                    </section>

                    <section class="well">
                        <h3 class="sidebar__title">Authors</h3>
                        <ul class="media-list media-list--authors">
                            <li class="media">
                                <a href="//www.truvia.com/health/blog/julie-upton" title="Julie Upton">
                                    <div class="media-left">
                                        <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Authors/US/HCP_Author_Julie.png?mtime=20151203114927" alt="HCP Author Julie"
                                            class="media--author__thumbnail" data-pin-description="Julie Upton">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Julie Upton</h4>
                                        <div class="media--author__excerpt">Truvía<sup>®</sup> Healthcare Ambassador and Registered Dietician</div>

                                        <div class="media--author__read">Read more »</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="//www.truvia.com/health/blog/sweetness-in-practice-contributor" title="Sweetness in Practice Contributor">
                                    <div class="media-left">
                                        <img src="//d2sf2a832xqb4v.cloudfront.net/HCP-Blog-Authors/US/SiP_author_lockup.png?mtime=20160412134257" alt="SiP author lockup"
                                            class="media--author__thumbnail" data-pin-description="Sweetness in Practice Contributor">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Sweetness in Practice Contributor</h4>

                                        <div class="media--author__read">Read more »</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <section>
                        </section>
                    </section>
                </div>
            </div>
        </div>

        <div class="bottom-gradient"></div>
    </div>
</main>

<?php get_footer();?>